html, body {
  height: 100%;
}

#container {
  height: 100%;
  width: 100%;
    /* This centers our sketch horizontally. */
  justify-content: center;
  display: flex;
}
#topThing {
  position: relative;

}
#middleThing {
  position: absolute;
  top: 350px;
}
#bottomThing {
  position: absolute;
  top: 700px;
}
